.navbar-collapse {
    margin-left:50%;
}   

.ProfileImage {
    float:left;
}
.footer {
    background-color:#666666;
    border-top: 10px solid;
    border-color:#4aaaa5;
    
}

body {
    background-image:url("../images/intersection.png");
    
}

.content {
    background-color:#ffffff;
    /*border:2px solid;  need to specify specificly where to border*/
   border-color:#dddddd;
   font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content h1 {
    color:#4aaaa5;
    font-weight:bold;
    font-size:30px;
}

.portfolio-images{
    position:relative;
    
}
.ImageLabels {
    position:absolute;
    bottom:0;
    color:red;
}